* {
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font, JetBrainsMono NF";
  min-width: 8px;
  min-height: 0px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8px;
  border: 2px solid @active;
  background: @background;
  background: alpha(@background, 0.7);
  color: lighter(@active);
}

menu,
tooltip {
  border-radius: 8px;
  padding: 2px;
  border: 1px solid lighter(@active);
  background: alpha(@background, 0.6);

  color: lighter(@active);
}

menu label,
tooltip label {
  font-size: 14px;
  color: lighter(@active);
}

.modules-right {
  margin: 0px 6px 6px 6px;
  border-radius: 1px;
  background: alpha(@background, 0.4);
  color: lighter (@active);
}

.modules-left {
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 6px 6px 6px 6px;
  border-radius: 4px;
  background: alpha(@background, 0.4)
  color: lighter(@active);
}

#gcpu,
#memory,
#disk,
#connections,
#network,
#pulseaudio,
#backlight,
#cpu,
#memory,
#temperature,
#tray {
  border-radius: 1px;
  margin: 2px 4px 4px 2px;
  background: alpha(darker(@active), 0.3);
}

#gcpu {
  padding: 8px 0px 8px 0px;
}

#custom-cpu-icon {
  font-size: 25px;
}


#custom-cputemp,
#disk,
#memory,
#cpu {
  font-size: 14px;
  font-weight: bold;
}

#network.wifi {
  padding-right: 4px;
}

#battery {
  border-radius: 8px;
  padding: 4px 0px;
  margin: 4px 2px 4px 2px;
}

#tray {
  padding: 4px 0px 4px 0px;
}

#clock {
  font-weight: bold;
  padding: 4px 2px 2px 2px;
}
